$color-gray: #65657B;
$color-offwhite: #E7E9EF;
$color-lightgray: #6D7088;
$color-blue: #3667E9;
$color-red: #C34648;
// figma says #171731 but that's not the correct color
$color-dark: rgb(139,139,152);
